In [1]:
import numpy as np
import pandas as pd
to_scrape_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

*To do list:*
- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

Let's use pandas read_html to read in the table. We select the 0th element since is the one conatining the table we want

In [37]:
df = pd.read_html(to_scrape_url)[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

We can then remove the Postal codes with not assigned borough by replacing not assigned with Nan in the Borough column and then drop NaN values from the datframe

In [38]:
size_before = len(df)

# Ignore cells with not assigned Neighborhood
df['Borough'] = df['Borough'].replace('Not assigned', np.nan)
df = df.dropna().reset_index(drop=True)

print('Before dropping not assigned neighborhoods the size was: {}, now is: {}'.format(size_before, len(df)))
df.head()

Before dropping not assigned neighborhoods the size was: 180, now is: 103

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

We check that no Postal Code is used twice (Wikipedia has probably done the work for us)

In [39]:
print('Since the unique number of postal codes ({}) is equal to the length of the dataframe ({}),\n \
      we can deduce that each postal code is unique in the dataframe' \
      .format(len(df['Postal Code'].unique()), len(df)))

Since the unique number of postal codes (103) is equal to the length of the dataframe (103),
       we can deduce that each postal code is unique in the dataframe

And we check that there are no Not assigned neighborhoods

In [40]:
print('The number of not assigned neighborhoods is: {}'.format(sum(df['Neighborhood'] == 'Not assigned')))

The number of not assigned neighborhoods is: 0

Finally we print the dataframe size

In [42]:
df.shape

(103, 3)